li{color: green;}
nav ul{background: gray;}
div ul{background: yellow;}
div.contenedor1{background: blue;}
div.contenedor2{background: orange;}
div.contenedor3{background: pink;}
p{font-style: italic;}
div.contenedor3 p{font-size: 30px;}